@@import url('https://fonts.googleapis.com/css?family=Raleway');
@@import url('https://fonts.googleapis.com/css?family=Oswald');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.intro {
  height: 100%;
  width: 100%;
  margin: auto;
  background: url('../img/puget.jpg') no-repeat 50% 50%;
  display: table;
  top: 0;
  height: 100vh;
  background-size: cover;
}
.intro .inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  max-width: none;
}
.content {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.content h1 {
  font-family: 'Raleway', sans-serif;
  color: #F9F3F4;
  text-shadow: 0px 0px 300px #000;
  font-size: 500%;
}
.btn {
  border-radius: 9px;
  font-family: 'Oswald', sans-serif;
  color: #036A81;
  font-size: 135%;
  padding: 10px 20px;
  border: solid #036A81 3px;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color: #fff;
  border: solid #fff 3px;
}
p {
  font-size: 160%;
  line-height: 210%;
  text-align: center;
  margin: 3%;
  font-family: sans-serif;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  box-sizing: border-box;
  transition: .3s;
}
nav.black {
  background: rgba(0,0,0,0.8);
  height: 100px;
  padding: 10px 100px;
}
nav .logo {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 48px;
  transition: .3s;
  color: #fccd4d;
}
nav .black .logo {
  color: #fff;
}
nav .logo:hover {
  color: #fff;
}
nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s;
}
nav.black ul li a {
  color: #fff;
}
nav ul li a a:focus {
  outline: none;
}
nav ul li a.active {
  background-color: #fccd4d;
  color: #036A81;
  border-radius: 6px;
}

.content {
  margin-top: 80px;
}

.content p {
  width: 900px;
  margin: 30px auto;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
}
@@media screen and (max-width: 768px) {
  .content h1 {
    font-size: 250%;
  }
  .btn {
    font-size: 110%;
    padding: 7px 15px;
  }
  p {
    font-size: 100%;
    line-height: 160%;
  }
}
